@use "../../Foundation/variables" as var;

.button{
    font-size: 13px;
    width: 60px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid var.$theme-color;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px var.$theme-color;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        border-color: var.$theme-color;
        color: var.$theme-color;
        box-shadow: none;
    }
    &-login{
        width: auto;
    }

    &.day__button--selected:hover{
        color: #fff;
    }

    &--wide{
        height: 50px;
        display: block;
        width: 100%;
        &:hover{
            box-shadow: none;
        }
    }
    &__add-spot{
        width: auto;
    }
}

// ヘッダー検索ボタン
.header__search-button{
    cursor: pointer;
    background-color: var.$header-color;
    color: var.$theme-color;
    border: none;
}

// 場所削除ボタン
.place__delete--button,
.post__delete--button,
.place__edit--button
{
    border: none;
    background-color: #fff;
    font-size: 17px;
    color: #888;
    cursor: pointer;
    transition: all .2s;
    &:hover{
        color: var.$theme-color;
    }
}

.place__edit--button{
    font-size: 18px;
}

// 編集ボタン
.edit-button{
    color: #888;
    transition: all .2s;
    font-size: 16px;

    &:hover{
        color: var.$theme-color;
    }
}

// 日付ボタン
.day{
    display: flex;
    gap: 10px;
    &__button{
        @extend .button;
        &--selected{
            border-color: var.$theme-color;
            background-color: var.$theme-color;
            color: #fff;
            box-shadow: 1px 1px 1px 0px var.$theme-color;
        }
        &--remove,
        &--add{
            color: #888;
            font-size: 12px;
        }
    }
}

.create--button{
    display: inline-block;
    width: 60px;
}

// 画像選択ボタン
.image-button{
    color: #888;
    font-size: 16px;
    &:hover{
        color: var.$theme-color;
    }
}