@use "c-place";
@use "../../Foundation/variables" as var;
.post{
    color: #888;
    &__container{
        @extend .place;
        margin: 10px 0;
        padding: 15px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 28px;
        color: #333;
    }
    &__tags{
        margin: 5px 0;
        font-size: 14px;
    }
    &__edit{
        text-align: right;
    }
}

.detail__post,
.edit__post{
    background-color: var.$bg-color;
    margin: 20px 0;
}