.post{
    background-color: #fff;
    color: #888;
    &__container{
        border-bottom: solid 1px #888;
        padding: 10px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 28px;
        color: #333;
    }
}