@use "c-place";
@use "../../Foundation/variables" as var;
.post{
    color: #888;
    &__container{
        @extend .place;
        margin: 10px 0;
        padding: 10px 15px 5px 15px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 28px;
        color: #333;
    }
    &__tags{
        margin: 5px 0;
        font-size: 14px;
        a{
            color: #888;
            &:hover{
                color: var.$theme-color;
            }
        }
        &--icon{
            margin-right: 5px;
        }
    }
    &__edit{
        // text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__user{
        a{
            color: #888;
            &:hover{
                color: var.$theme-color;
            }
        }
    }
}

.fa-user-pen{
    margin-right: 5px;
    font-size: 14px;
}

.detail__post,
.edit__post{
    background-color: var.$bg-color;
    margin: 20px 0;
}

.fa-lock{
    color: #888;
    font-size: 14px;
}