.day{
    margin: 20px 0;
}

.place{
    margin: 20px 0;
    &__label--select{
        margin-right: 10px;
    }
    &__button--send{
        margin-left: 10px;
    }
}

.place__image{
    display: flex;
}

.add-button{
    margin: 20px 0;
}

.edit__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.button--done{
    margin-bottom: 20px;
}