@use "../Foundation/variables" as var;
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
    border-bottom: solid 2px var.$theme-color;
    background-color: var.$header-color;

    &__title{
        font-size: 32px;
    }

    &__nav{
        display: flex;
        align-items: center;
        gap: 10%;
        margin: 0 10px;
    }
}