@use "../../Foundation/variables" as var;
@use "../../Foundation/media" as m;
$width: 500px;
.forms{
    &__table{
        width: 100%;
        margin: 0 auto;
        tr{
            @include m.sp-form {
                display: flex;
                flex-direction: column;
            }
        }
        input,
        textarea{
            &:focus-visible{
                outline-color: var.$theme-color;
            }
            background-color: var.$bg-color;
            border: 1px solid #888;
            border-radius: 3px;
        }
        td:first-child{
            // 項目
            background-color: var.$theme-color;
            width: 150px;
            vertical-align: top;
            padding-left: 5px;
            color: #fff;
            border-radius: 3px;
            @include m.sp-form {
                width: 100%;
                padding: 5px;
                margin-bottom: 5px;
            }
        }
        &--title{
            width: 100%;
        }
        &--description{
            width: 100%;
            font-size: 16px;
            resize: none;
        }
        &--tag{
            width: 100% / 3;
        }
        &--address{
            width: 100%;
        }
        p{
            font-size: 14px;
            color: #888;
            &.error{
                color: #f00;
            }
        }
        .counter{
            @include m.sp-form {
                text-align: right;
            }
        }
    }
}

.counter{
    vertical-align: bottom;
    font-size: 13px;
    color: #888;
}

.auth{
    input{
        &:focus-visible{
            outline-color: var.$theme-color;
        }
        &:focus{
            box-shadow: none;
            border: 1px solid var.$theme-color;
        }
        background-color: var.$bg-color;
        border: 1px solid #888;
        border-radius: 3px;
    }
}