@use "../../Foundation/variables" as var;
.tab{
    display: flex;
    li{
        background-color: #ddd;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        color: #888;
        cursor: pointer;
        &.selected{
            background-color: var.$header-color;
            color: #888;
        }
    }
    &__wrapper{
        padding: 5px 10px;
        background-color: var.$header-color;
        border-radius: 0 5px 5px 5px;
    }
}